streamlit
langchain<1.0.0
langchain-community
langchain-groq
langchain-huggingface
langchain-postgres
sentence-transformers
pypdf
psycopg[binary]
torch --index-url https://download.pytorch.org/whl/cpu